body {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    background-color: #c2ffd0;
    text-align: center;
    padding: 10px;
}

header {
    background-color: #9e7743cb;
    color:rgb(199, 157, 78));
    padding: 5px;
    border-radius: 10px;
}

button {
    background-color: #2e773f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e2cd52;
}
nav a {
  color: rgb(20, 17, 17);
  text-decoration: none;
  margin: 0 10px;
  padding: 8px 16px;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s;
}

/* bežné odkazy pri hover */
nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* špeciálne tlačidlo */
.special-btn {
  background-color: #ff9900;
  color: rgb(87, 24, 24);
  border-radius: 20px;
  padding: 10px 20px;
}

/* efekt po prejdení myšou */
.special-btn:hover {
  background-color: #382a14;
}

